# Entries in this file are made for two reasons:
# 1) to merge multiple git commit authors that correspond to a single author
# 2) to change the canonical name and/or email address of an author.
#
# Format is:
#     Canonical Name <Canonical@email> commit name <commit@email>
#     \--------------+---------------/ \----------+-------------/
#                 replace                       find
# See also: 'git shortlog --help' and 'git check-mailmap --help'.
#
# If you don't like the way your name is cited by qiskit, please feel free to
# open a pull request against this file to set your preferred naming.
#
# Note that each qiskit element uses its own mailmap so it may be necessary to
# propagate changes in other repos for consistency.
#
Ali Javadi-Abhari <ajavadia@users.noreply.github.com>
Diego M. Rodríguez <diego.plan9@gmail.com>
Jack J. Woehr <4604036+jwoehr@users.noreply.github.com>
Jay Gambetta <jay.gambetta@us.ibm.com>
Jessie Yu <jessieyu@us.ibm.com>
Juan Cruz-Benito <juan.cruz@ibm.com>
Juan Gomez <atilag@gmail.com>
Matthew Treinish <mtreinish@kortar.org>
Max Reuter <Max.Reuter@ibm.com>
Paul Nation <nonhermitian@gmail.com>
Salvador de la Puente González <salva@unoyunodiez.com> <neo.salvador@gmail.com>
Luciano Bello <luciano.bello@ibm.com> <lbello@gmail.com>
Luciano Bello <luciano.bello@ibm.com> <luciano.bello@ibm.com>
Luciano Bello <luciano.bello@ibm.com> <luciano@debian.org>
Abby Cross <across@us.ibm.com>
Mark Schulterbrandt <mark.schulterbrandt@ibm.com> <markSbrandt@users.noreply.github.com>
Anish Athalye <43696399+chlorophyll-zz@users.noreply.github.com>
