# This code is part of Qiskit.
#
# (C) Copyright IBM 2017, 2018.
#
# This code is licensed under the Apache License, Version 2.0. You may
# obtain a copy of this license in the LICENSE.txt file in the root directory
# of this source tree or at http://www.apache.org/licenses/LICENSE-2.0.
#
# Any modifications or derivative works of this code must retain this
# copyright notice, and modified files need to carry a notice indicating
# that they have been altered from the originals.

notifications:
  email: false

cache: pip
sudo: false

###############################################################################
# Anchored and aliased definitions.
###############################################################################

# These are used for avoiding repeating code, and due to problems with
# overriding some keys (in particular, "os" and "language: ptyhon") when using
# the standard travis matrix with stages.
#
# This allows re-using different "sets" of configurations in the stages
# matrix, mimicking a hierarchy:
# * stage_generic
#   * stage_linux
#   * stage_osx

stage_generic: &stage_generic
  install:
    # Install step for jobs that require compilation and qa.
    - pip install cython
    - pip install -U -r requirements.txt
    - pip install -U -r requirements-dev.txt
  script:
    # Run the tests.
    - make test

stage_linux: &stage_linux
  <<: *stage_generic
  os: linux
  dist: trusty
  language: python
  python: 3.5

stage_osx: &stage_osx
  <<: *stage_generic
  os: osx
  osx_image: xcode9.2
  language: generic
  cache:
    pip: true
    directories:
      - ~/python-interpreters/
  before_install:
    # Travis does not provide support for Python 3 under osx - it needs to be
    # installed manually.
    |
    if [ ${TRAVIS_OS_NAME} = "osx" ]; then
      if [[ ! -d ~/python-interpreters/$PYTHON_VERSION ]]; then
        git clone git://github.com/pyenv/pyenv.git
        cd pyenv/plugins/python-build
        ./install.sh
        cd ../../..
        python-build $PYTHON_VERSION ~/python-interpreters/$PYTHON_VERSION
      fi
      virtualenv --python ~/python-interpreters/$PYTHON_VERSION/bin/python venv
      source venv/bin/activate
    fi


###############################################################################
# Stage-related definitions
###############################################################################

# Define the order of the stages.
stages:
  - lint and pure python test
  - test
  - old api
  - slow tests

# Define the job matrix explicitly, as matrix expansion causes issues when
# using it with stages and some variables/sections cannot be overridden.
jobs:
  include:
    # "lint and and pure python test" stage
    ###########################################################################
    # Linter and style check (GNU/Linux, Python 3.5)
    - stage: lint and pure python test
      <<: *stage_linux
      if: type != cron
      script: make style && make lint

    # Type checking using mypy
    - stage: lint and pure python test
      name: mypy type checking
      <<: *stage_linux
      if: type != cron
      script: make mypy

    # Run the tests against without compilation (GNU/Linux, Python 3.5)
    - stage: lint and pure python test
      <<: *stage_linux
      if: type != cron

    # "test" stage
    ###########################################################################

    # GNU/Linux, Python 3.6
    - stage: test
      <<: *stage_linux
      if: type != cron
      python: 3.6

    # GNU/Linux, Python 3.7
    - stage: test
      <<: *stage_linux
      if: type != cron
      # Compiling Python 3.7 requires an Ubuntu Xenial distribution
      # and sudo set to true
      # Fix when this is solved:
      # https://github.com/travis-ci/travis-ci/issues/9815
      dist: xenial
      python: 3.7
      sudo: true

    # OSX, Python 3.5.6 (via pyenv)
    - stage: test
      <<: *stage_osx
      if: type != cron
      env:
        - MPLBACKEND=ps
        - PYTHON_VERSION=3.5.6

    # OSX, Python 3.6.5 (via pyenv)
    - stage: test
      <<: *stage_osx
      if: type != cron
      env:
        - MPLBACKEND=ps
        - PYTHON_VERSION=3.6.5

    # OSX, Python 3.7.2 (via pyenv)
    - stage: test
      <<: *stage_osx
      if: type != cron
      env:
        - MPLBACKEND=ps
        - PYTHON_VERSION=3.7.2

    # "old api" stage
    ###########################################################################
    # GNU/Linux, Python 3.6, against Qconsole v1
    - stage: old api
      name: Python 3.6 API v1 QConsole
      <<: *stage_linux
      if: branch = master and repo = Qiskit/qiskit-ibmq-provider and type = push
      python: 3.6
      env: USE_ALTERNATE_ENV_CREDENTIALS=True

    # GNU/Linux, Python 3.6, against QE v1
    - stage: old api
      name: Python 3.6 API v1 QE
      <<: *stage_linux
      if: branch = master and repo = Qiskit/qiskit-ibmq-provider and type = push
      python: 3.6
      env: QE_URL="https://quantumexperience.ng.bluemix.net/api"

    # "slow tests" stage
    ###########################################################################
    # GNU/Linux, Python 3.5
    - stage: slow tests
      <<: *stage_linux
      if: type = cron
      env:
        - QISKIT_TESTS=run_slow
      script:
        # effectively increases timeout to 2h.
        - travis_wait 120 make test
    - if: tag IS present
      python: "3.6"
      env:
        - TWINE_USERNAME=qiskit
      install: pip install -U twine
      script:
        - python3 setup.py sdist bdist_wheel
        - twine upload dist/qiskit*

matrix:
  allow_failures:
  - name: mypy type checking
